<%- include('./partials/header.ejs'); %>

<section>
    <div id="todo">
        <form>
            <input type="text" name="item" id="item" placeholder="Add an item" />
            <input type="submit" value="Add an item" />
        </form>
        <ul>
            <% todos.map(todo => { %>
                <li><%= todo.item %></li>
            <% }); %>
        </ul>
    </div>
</section>

<%- include('./partials/footer.ejs'); %>